* {
    font-family: "Courier New", Courier, monospace;
    image-rendering: pixelated;
    color: white;
}

body {
    background-image: url("assets/background.png");
    background-size: cover;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row > * {
    margin-left: .8rem;
    margin-right: .8rem;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.entity-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#build .entity-row {
    max-width: 312px;
}

.entity-cell {
    width: 48px;
    height: 48px;
    background: url("assets/inventory.png");
    margin: .1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#collection .entity-cell {
    cursor: pointer;
}

.entity-cell.disabled {
    filter: grayscale(100%);
    opacity: 0.8;
}

.entity {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entity > img {
    max-height: 16px;
    transform: scale(2);
}

.button {
    width: 100px;
    height: 33px;
    background: url("assets/button.png");
    text-align: center;
    line-height: 33px;
    user-select: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.button-blue {
    background: url("assets/button_blue.png");
}

.button-red {
    background: url("assets/button_red.png");
}

.button-blue:active, .button-blue:focus {
    background: url("assets/button_blue_pressed.png");
}

.button-red:active, .button-red:focus {
    background: url("assets/button_red_pressed.png");
}

#commands {
    display: flex;
    justify-content: center;
}

.bg-dark a {
    color: #869aff;
}

.bg-dark a:hover {
    color: rgb(64, 96, 255);
}

.infobox {
    display: inline-block;
    text-align: center;
    background: var(--color-secondary-0);
    border-radius: 50%;
    color: #869aff;
    height: 19px;
    width: 19px;
    line-height: 20px;
    margin-left: .4rem;
}

.infobox ~ .popover-container {
    background: var(--color-secondary-0);
    border-radius: .4rem;
    padding: .8rem;
}

.highlight_box {
    padding: .8rem;
    border-radius: .2rem;
    background: #000000b0;
}

select {
    background: #000000b0;
    border: none;
    padding: .4rem;
    border-radius: .4rem;
}

select ~ .button {
    display: inline-block;
}

#build {
    max-width: 312px;
}

#collection {
    max-width: 624px;
}

#modal-generate {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #101010D0;
    user-select: none;
    pointer-events: none;
}

#modal-generate > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#modal-generate.active {
    display: block;
}

#modal-combos.active {
    display: flex;
}

#modal-combos {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #101010D0;
    user-select: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#table-combos {
    text-align: center;
    background: #101010D0;
    padding: .8rem;
    border-radius: .4rem;
}

#btn-show-combos {
    font-size: 80%;
    background: #101010B0;
    padding: .4rem;
    border-radius: .4rem;
    cursor: pointer;
}