* {
    font-family: "Courier New", Courier, monospace;
    image-rendering: pixelated;
    color: white;
}

body {
    background: url("tiles/floor_default.png") repeat;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
    z-index: -1;
    width: 100vw;
    height: 100%;
}

.background-bookshelves {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 102px;
    background: url("tiles/shelves_tall.png") repeat;
}

.background-parquet {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    pointer-events: none;
    height: 64px;
    background: url("tiles/floor_fancy.png") repeat;
}

h1 {
    text-align: center;
    color: #f2f051;
    text-shadow: 0px 0px 4px #000000;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row > * {
    margin-left: .8rem;
    margin-right: .8rem;
}

.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-row {
    display: flex;
    flex-direction: row;
    width: 312px;
    flex-wrap: wrap;
}

.inventory-cell {
    width: 48px;
    height: 48px;
    background: url("tiles/inventory.png");
    margin: .1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.inventory-item {
    transform: scale(2);
}

.button {
    width: 100px;
    height: 33px;
    background: url("tiles/button.png");
    text-align: center;
    line-height: 33px;
    user-select: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.button-blue {
    background: url("tiles/button_blue.png");
}

.button-red {
    background: url("tiles/button_red.png");
}

.button-blue:active, .button-blue:focus {
    background: url("tiles/button_blue_pressed.png");
}

.button-red:active, .button-red:focus {
    background: url("tiles/button_red_pressed.png");
}

.commands {
    display: flex;
    justify-content: center;
}

.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bg-dark a {
    color: #869aff;
}

.bg-dark a:hover {
    color: rgb(64, 96, 255);
}

.infobox {
    display: inline-block;
    text-align: center;
    background: var(--color-secondary-0);
    border-radius: 50%;
    color: #869aff;
    height: 19px;
    width: 19px;
    margin-left: .4rem;
}

.infobox ~ .popover-container {
    background: var(--color-secondary-0);
    border-radius: .4rem;
    padding: .8rem;
}